@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #e64b98;
    color: white;
}

.contact {
    color: white;
    text-align: center;
    padding: 23px;
    font-family: sans-serif;
}

/* .contact h2{
    text-align: center;

} */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: 120px;
    background-color: gray;
}

.nav-left {
    font-size: 35px;
    padding: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav-left img{
    border: 3px solid white;
    border-radius: 196px;
    height: 106px;
}

.nav-mid {
    font-size: 35px;
    padding: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}

.nav-right {
    width: 23%;
    text-align: right;
    padding-right: 14px;
}

#search {
    /* padding: -5px; */
    width: 20%;
    height: 25px;
    border: 3px solid gray;
    border-radius: 15px;
}

.btn-sm {
    padding: 6px 10px;
    background-color: #ed5107f2;
    color: white;
}

.background {
    background: rgba(0, 0, 0, 0.5) url('/img/two\ dev.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.logo {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.nav-mid li {
    list-style: none;
    display: inline;
    padding: 20px;
    color: white;
    /* font-size: 20px; */
}

.nav-mid li a {
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
    /* font-family: "Ubuntu", sans-serif; */
}

.firstsec {
    height: 90vh;

}

.secondsection {
    height: 223px;
    background-color: rgb(248, 180, 92);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 100%;
}

.firsthalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
}

.secondthalf {
    width: 80%;
}

.secondthalf img {
    width: 70%;
    /* padding: 4px 0; */
    border: 4px solid white;
    border-radius: 180px;
    display: block;
    margin: auto;
}

.mirror {
    /* flex-direction: row-reverse; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1133px;
    margin: auto;
    background-color: aliceblue;
    font-family: "Ubuntu", sans-serif;
}

.paras {
    padding: 0px 65px;
    /* height: 150px; */
    font-size: 27px;
}

.thumbnail img {
    height: 287px;
    border: 7px solid black;
    margin-top: 100p
}

.seccontact {
    background-color: #f2e8de;
    height: 833px;
    display: flex;
}

.text-center {
    /* text-align: center; */
    padding: 85px 67px;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;

}
.left {
    /* background-color: brown; */
    color: black;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.right {
    /* background-color: red; */
    color: black;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.right img{
    height: 347px;
    padding: 160px 0px ;
    text-align: center;

}
.left img{
    height: 347px;
    padding: 160px 0px ;
    text-align: center;
}
.social-icons {
    text-align: center;
    padding: 30px 0;
    color: black;
    font-size: 35px;
    padding: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 225, 205);
}